@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

:root {
  --primary: black;
  --secondary: #686868;
}

/* import local fonts */
@font-face {
  font-family: 'Twitter';
  src: url('./fonts/Chirp-Regular.80fda27a.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  font-family: 'Twitter', sans-serif;
}

* {
    transition-duration: 0.2s;
    transition-property: background-color, box-shadow;
}